.crud-buttons {
    font-family: raleway;
    margin: 0;  
    border: none;
    float: right;
    height: 1em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.crud-buttons a{
    color: var(--color);
}

.up-button, .down-button,
.add-button, .edit-button, .delete-button {
    opacity: .2;
    height: 1.0em;
    padding-right: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.up-button img {
    transform: rotate(270deg); /* Rotate the image 90 degrees */
}

.down-button img {
    transform: rotate(90deg); /* Rotate the image 90 degrees */
}

.up-button:hover, .down-button:hover,
.add-button:hover, .edit-button:hover, .delete-button:hover {
    opacity: .8;
}

/* .edit-button::before {
    content: "✎"; 
    display: inline-block; 
    transform: scaleX(-1); 
}


.delete-button::before {
    content: "🗙";
} */

.up-button img, .down-button img,
.add-button img, .edit-button img, .delete-button img {
    height: 84%;
    object-fit: contain;
}   


.add-button:hover::before {
    color: green;
}

.delete-button:hover::before {
    color: red;
}

.edit-button:hover::before {
    color: blue;
}
